@import url("https://fonts.googleapis.com/css?family=Coda");
@import url("https://fonts.googleapis.com/css?family=Roboto");


html, body, div, u, i, a, header, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    height:auto;
    min-height: 100%;
    background-color: #EC008C;
}

#header {
    display: flex;
    background-color: #000000;
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
}

    #header h1 {
        font-family: Roboto;
        font-size: 32px;
        color: white;
        font-weight: 300;
        padding: 5px 50px 5px 40px;
    }

    #header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        object-fit: contain;
    }

#mid {
    position: relative;
    text-align: center;
}

    #mid h1 {
        font-family: 'Bebas Neue';
        font-size: 64px;
        font-weight: 300;
        color: white;
        letter-spacing: 50px;
        margin-bottom: 0;
    }

#message {
    font-family: 'Coda';
    border-radius: 30px;
    margin: auto;
    background-color: rgba(217, 217, 217, 0.8);
    width: 65%;
}

    #message h3 {
        font-size: 64px;
        font-weight: 300;
        margin-bottom: 0;
        padding: 5px 0px 0px 0px;
    }

    #message form input, #message form textarea {
        margin: 9px;
        padding: 10px;
        border:none;
        border-radius: 8px;
        background-color: rgb(217, 217, 217);
        font-family: 'Coda';
        color: #EC008C;
        font-size: 32px;
    }
    
    #message form input[type="submit"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        color: #000000;
    }
    
    #message form input[type="submit"]:hover {
        background-color: rgb(240, 240, 240);
    }

#footer {
    background-color: #000000;
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
    ul.icons {
        cursor: default;
        color: white;
        list-style: none;
        justify-content: space-between;
    }

        ul.icons li {
            background-image: url("Rectangle.png");
            background-repeat: no-repeat;
            background-position:center;
            margin: 10px 10px;
            padding: 30px;
            display: inline-block;
        }

        ul.icons li img {
            margin: auto;
            height: 34px;
        }